.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.wrapper span {
    font-size: 0.8rem;
    font-weight: 400;
    margin-bottom: 1rem;
}
.wrapper h2 {
    margin-bottom: 1rem;
}
.btn {
    width: 8rem;
    margin: 0 auto;
    margin-top: 2rem;
}
.wrapper label {
    margin-bottom: 1rem;
}
.wrapper .icon {
    position: absolute;
    font-size: 1.7rem;
    top: -2rem;
    right: -2rem;
    cursor: pointer;
}
.avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    margin-top: 1rem;
}
.btnsWrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.iconUpload {
    font-size: 1.5rem;
    height: 2.7rem;
    width: 2.7rem;
    border-radius: 50%;
    background-color: rgb(68, 68, 68);
    display: flex;
    color: var(--color-light);
    border: 1px solid var(--color-light);
    justify-content: center;
    align-items: center;
    opacity: 0.6;
    position: relative;
    margin-top: -2rem;
    margin-left: 5rem;
    cursor: pointer;
}
.input {
    margin-top: 3rem;
}
.dispNone {
    display: none;
}
