.wrapper {
    padding: 35px 7% 71px 7%;
    display: flex;
}
.sidebar {
    width: 243px;
    height: 70vh;
    border-radius: 8px 0 0 8px;

    overflow-wrap: break-word;
    background-color: var(--color-light);
}
.sidebar h3 {
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
}

.packsList {
    width: 100%;
    background-color: var(--color-light-bg);
    border-radius: 0 8px 8px 0;
}
.avatar {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}
.infoBox {
    background-color: var(--personal-info-bg);
    border-radius: 8px 0 0 0;
    padding: 24px 45px;
}
