.wrapper {
    padding: 24px 30px;
    max-width: 1009px;
    margin-top: 3rem;
}

.empty {
    padding: 2rem;
    height: 60vh;
}

.empty h2 {
    margin-top: 20vh;
    font-size: 1rem;
    font-weight: 400;
}

.header {
    padding: 0 20px;
    margin: 0 auto;
    min-height: 60px;
    color: var(--dark-color);
    background-color: var(--color-light-bg-2);
}

.btn {
    margin-top: 3rem;
}

.content {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.goback {
    position: relative;
    color: var(--dark-color);
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    padding: 20px;
    cursor: pointer;
}

.goback svg {
    margin-right: 10px;
    transition: transform var(--default-transition);
}

.goback:hover svg {
    transform: rotate(360deg);
}

@media screen and (max-width: 768px) {
    .wrapper {
        padding: 15px 10px;
    }
    .content {
        padding: 0 16px;
    }
}
