.wrapper {
    padding: 35px 20px 71px;
    display: flex;
    /* flex-wrap: wrap; */
    max-width: 1380px;
    margin: 0 auto;
    height: auto;
}

.sidebar {
    width: 280px;
    height: auto;
    border-radius: 8px 0 0 8px;
    overflow-wrap: break-word;
    padding: 1rem;
    background-color: var(--color-light);
}

.sidebar h3 {
    font-size: 1.2rem;
    font-weight: 600;
}

.packsList {
    background-color: var(--color-light-bg);
    border-radius: 0 8px 8px 0;
    padding: 24px 30px;
}

.avatar {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.sidebar h4 {
    text-align: center;
    font-size: 1rem;
    text-decoration: underline;
    font-weight: 400;
    cursor: pointer;
}

.search {
    display: flex;
    justify-content: space-between;
}

.search input {
    width: 60%;
    padding: 7px;
}

.tableWrapper {
    margin: 2rem 0 1rem 0;
    width: 1000px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 18px rgba(33, 38, 143, 0.35),
        inset 0 1px 0 rgba(255, 255, 255, 0.3);
    padding: 1rem;
}
.btnWrapper {
    display: flex;
    justify-content: space-between;
}
.sideBtn {
    width: 45%;
    height: 2.5rem;
    background-color: var(--color-light-bg);
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    border: 1px solid #9a91c8;
    border-radius: 14px;
}
.sideBtn:hover {
    background-color: #9a91c8;
}

.showPacksComponent {
    margin-bottom: 50px;
}

.sliderComponent h3 {
    margin-bottom: 30px;
    text-align: left;
}

.sliderWrapper {
    padding: 20px;
}
.btnsWrapper {
    display: flex;
    width: 35%;
    justify-content: space-between;
}

.searchBtn {
    width: 10rem;
}
