.wrapper {
    padding: 35px 20px 71px;
    display: flex;
    max-width: 1049px;
    width: 100%;
    margin: 0 auto;
    height: auto;
}

.sidebar {
    min-width: 243px;
    height: auto;
    border-radius: 8px 0 0 8px;
    overflow-wrap: break-word;
    padding: 1rem;
    background-color: var(--color-light);
}

.sidebar h3 {
    font-size: 1.2rem;
    font-weight: 600;
}

.packsList {
    width: 100%;
    background-color: var(--color-light-bg);
    border-radius: 0 8px 8px 0;
    padding: 24px 30px;
}

.avatar {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.sidebar h4 {
    text-align: center;
    font-size: 1rem;
    text-decoration: underline;
    font-weight: 400;
    cursor: pointer;
}

.search {
    display: flex;
    justify-content: space-between;
}

.fieldGroup {
    position: relative;
    width: 100%;
    margin-right: 20px;
}

.fieldGroup input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: inherit;
    height: 100%;
    padding: 7px 115px 7px 14px;
    border: 1px solid var(--dark-color);
    border-right: none;
    outline: none;
}

.fieldGroup button {
    width: 95px;
    height: 100%;
    position: absolute;
    right: 0;
    border-radius: 0;
    background-color: var(--sideBtn-bg);
    box-shadow: none;
}

.tableWrapper {
    margin: 2rem 0 1rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 18px rgba(33, 38, 143, 0.35),
    inset 0 1px 0 rgba(255, 255, 255, 0.3);
    padding: 1rem;
}

.btnWrapper {
    display: flex;
    justify-content: space-between;
}

.sideBtn {
    width: 50%;
    min-height: 2.5rem;
    background-color: var(--color-light-bg);
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    border: none;
}

.sideBtn:disabled {
    cursor: default;
}

.active {
    background-color: var(--sideBtn-bg);
    color: var(--color-light);
}

.showPacksComponent {
    margin-bottom: 50px;
}

.sliderComponent h3 {
    margin-bottom: 30px;
    text-align: left;
}

.sliderWrapper {
    padding: 20px;
}

.btnsWrapper {
    display: flex;
    justify-content: space-between;
}

.searchBtn {
    width: 10rem;
}

@media screen and (max-width: 768px) {
    .wrapper {
        padding: 35px 0 71px;
        flex-wrap: wrap;
    }

    .sidebar {
        width: 100%;
        border-top-right-radius: 8px;
        border-bottom-left-radius: 0;
    }

    .packsList {
        padding: 24px 16px;
        border-top-right-radius: 0;
        border-bottom-left-radius: 8px;
    }

    .search {
        flex-wrap: wrap;
    }

    .fieldGroup {
        margin-right: 0;
    }

    .fieldGroup input {
        width: 100%;
    }

    .btnsWrapper {
        padding: 30px 0 0;
        width: 100%;
    }

    .btnsWrapper button {
        max-width: 100%;
        width: 100%;
    }
}
