table {
    border-collapse: collapse;
    width: 100%;
    font-size: 1rem;
    font-weight: 500;
}

th,
td {
    font-size: 13px;
    line-height: 16px;
    text-align: left;
    padding: 10px;
}

th {
    font-weight: bold;
    background-color: var(--color-light);
}

.btn {
    display: inline-block;
    border: none;
    border-radius: 3px;
    background-color: var(--color-light);
    color: var(--accent-color);
    text-decoration: none;
    padding: 5px 7px;
    font-size: 0.8rem;
    cursor: pointer;
    font-weight: 600;
}
.deleteBtn {
    background-color: var(--color-warning);
    color: var(--color-light);
    font-weight: 400;
}

.narrow {
    padding: 10px 2px;
    text-align: center;
}

.table a {
    cursor: pointer;
}
@media screen and (max-width: 1024px) {
    table {
        width: 100%;
    }

    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        border: 1px solid #ccc;
    }

    td {
        text-align: center;
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
    }

    td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        content: attr(data-column);
        font-weight: bold;
    }
}
