.wrapper {
  min-height: 100vh;
  padding: 5vh 0;
}

.login {
  margin: 0 auto;
  padding: 25px 33px;
  max-width: 413px;
  width: 100%;
  min-height: 600px;
  text-align: center;
  background-color: var(--color-light-bg);
  border-radius: 8px;
}

.login p {
  margin: 0;
  color: var(--color-light-dark);
  font-size: 14px;
  line-height: 24px;
}

.formGroup {
  margin: 0 auto 20px;
  text-align: left;
}

.formGroupButton {
  margin: 40px 0;
  text-align: center;
}

.formWrapper {
  margin-top: 35px;
}

.formWrapper h2 {
  margin-bottom: 35px;
}

.formGroup span {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 5px;
  font-size: 13px;
  line-height: 20px;
  color: var(--color-light-dark);
  font-weight: 400;
}

.formGroup input {
  width: 100%;
}

.shapeIcon {
  position: relative;
}

.shapeIcon::after {
  position: absolute;
  z-index: 1;
  content: "";

  right: 15px;
  top: 24px;
  width: 22px;
  height: 16px;
  background-image: url("../../assets/images/shape.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.formGroup input::placeholder {
  color: var(--dark-color);
}

.formGroupPassword {
  margin-top: 55px;
  text-align: right;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: var(--dark-color);
}

.formGroupPassword a {
  color: inherit;
  text-decoration: none;
  margin-right: 20px;
}

.formGroupPassword a:focus,
.formGroupPassword a:hover {
  text-decoration: underline;
}

.navLinkGroup {
  margin-top: 10px;
}

.navLinkGroup a {
  font-size: 16px;
  line-height: 24px;
  color: var(--accent-color);
  text-decoration: none;
}

.navLinkGroup a:hover {
  text-decoration: underline;
}

.formGroupCheckbox input {
  width: 20px;
  height: 20px;
}

.formGroupCheckbox span {
  cursor: pointer;
}
